
@{
    ViewBag.Title = "Confirmacion de cuenta";
}

<h2>Confirmacion de cuenta</h2>
<p>para completar si registro busque en la bandeja  de entradade sus correo electronico un mensaje de confirmacion</p>
<a href="~/home/index">CONTINUAR</a>
