@model SVSur.Models.Identity.ApplicationUser

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles.</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Lista de los roles del usuario</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>no hay ningun rol.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>



