@model IEnumerable<SVSur.Models.DTO.RutaDTO>
@{
    ViewBag.Title = "Ver";
}



@using (Html.BeginForm((string)ViewBag.op, "Ruta", FormMethod.Post))
{
    
    <h5>Servicios Disponibles</h5>
 
        <div class="row">
            <div class=" caption text-center ">

                @foreach (var item in Model)
                {
                   
                <div class="panel panel-default">


                    <div class="panel-body">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="RutaID" class="control-label">ORIGEN </label>
                                <p>  @item.CiudadOrigen</p>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="RutaID" class="control-label">Hora salida </label>
                                <p>  @item.HoraSalida</p>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="RutaID" class="control-label">DESTINO </label>
                                <p>  @item.Ciudaddestino</p>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="RutaID" class="control-label"> Precio</label>
                                <p>  @item.Precio</p>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-primary form-control">Seleccionar </button>
                            </div>
                        </div>

                    </div>
                </div>
                }


            </div>

        </div>
}

